<body>
  <div class="container">
    <div class="container-info">
      <div class="row">
        <div class="col-sm-4" id="left-side">
          <div class="card">
            <div class="card-header">
              <img class="image-logo" src="https://static.vecteezy.com/system/resources/thumbnails/002/135/986/small/chat-wing-logo-design-illustration-free-vector.jpg" width="200" height="100" alt="logo">
            </div>
            <div class="card-body">
              <p>
                Public Chat is a free messenger that keeps you connected with people from all over the world through your Internet connection (wifi or data plan*). Send a text message to your friends and family with Public Chat.
              </p>
            </div>
            <div class="card-footer">
              <app-login-button></app-login-button>
            </div>
          </div>


        </div>
        <div class="col-sm-8">
            <img class="image-main" src="https://i.pinimg.com/736x/fb/0f/b0/fb0fb0e18fb8e66b0789dc87ca31794e.jpg" width="720" height="570" alt="Photo">
        </div>
      </div>
    </div>

  </div>

</body>

